<%= form_for(@data, url: url_for(action: 'baru_post'), multipart: true ) do |f| %>
<div class="form-group">
  <div class="row">
    <%= f.label 'Id Peminjaman', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :pengembalian_idpinjam, { class: 'form-control', placeholder: '' } %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Tanggal Kembali', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.date_field :pengembalian_tanggal, { class: 'form-control', placeholder: '' } %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <%= f.label 'Denda', { class: 'col-md-2' } %>
    <div class="col-md-8">
        <%= f.text_field :pengembalian_denda, { class: 'form-control', placeholder: '' } %>
    </div>
  </div>
</div>




<div class="form-group">
  <input type="submit" value="Masukan" class="btn btn-primary">
</div>
<% end %>
